<!DOCTYPE html>
<html>
<head>
	<title> webapp </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
	{% include 'includes/_navbar.html' %}
	<div class="container">
	{% include 'includes/_messages.html' %}
	{% block body%} {% endblock %}
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- Text editor sript-->
	<script src="//cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script> 
	<script type="text/javascript">
		CKEDITOR.replace('editor')
	</script>
</body>
</html>